@import "mixins";

/* Targets H1 on pages ex(Home, Index, Edit, etc..)*/
#root>div.App>div>h1 {
  font-family: $font-family-title;
  color:       $pink;
  font-size:   $title-size;
  text-shadow: $txt-shadow;
}

/* === === Forms === === */
.catForm {
  display:          flex;
  flex-direction:   column;
  margin:           auto;
  width:            80%;
  background-color: $primary;
  padding:          15px;
  border-radius:    10px;
  box-shadow:       $box-shadow;
  background-color: $pink;
  font-weight:      bold;
  font-size:        1.5rem;
  border:           2px solid $pink-dark;
  text-shadow:      1px 1px 2px rgb(182, 176, 176);
  text-align:       left;
  margin-bottom:    25px;
}


/* === === Cat Images === === */
.catImagesHome > img {
  @include cat-img-styles
}

.catImagesHome{
  display:         flex;
  justify-content: space-between;

}

/* === === Cards === === */
.cardCollection {
  display:         flex;
  gap:             20px;
  flex-direction:  row;
  flex-wrap:       wrap;
  justify-content: center;
  margin:          auto;
}

.card-title {
  font-family: 'Lobster Two', cursive;
}

.card {
  box-shadow:       $box-shadow;
  padding:          5px;
  background-color: $pink-card;
  border:           2px solid rgb(155, 99, 99);
}

.cardImage {
  border-radius: $border-radius;
  width:         auto;
}

.subtitle {
  color: rgb(190, 190, 196);
}

/* Card Description */
.description {
  background-color: $dark-grey;
  color:            $pink-card;
  border-radius:    $border-radius;
  display:          flex;
  flex-direction:   column;
  height:           40%;
  text-align:       center;
  width:            100%;
}

/* === === Buttons === === */
.catButtons {
  display:         flex;
  margin-bottom:   80px;
  justify-content: center;
  gap:             35px;
}

.submitButton {
  display:         flex;
  gap:             15px;
  margin-bottom:   110px;
  justify-content: center;
}

.btn {
  box-shadow:     $btn-shadow;
  color:          $pink;
  font-weight:    bold;
  background:     $tertiary;
  border-radius:  5px;
  padding-top:    15px;
  padding-bottom: 15px;
}

.btnSep {
  display:         flex;
  position:        relative;
  justify-content: center;
  align-items:     center;
  text-align:      left;
}

.btnForm {
  display:         flex;
  position:        relative;
  justify-content: center;
  align-items:     center;
  text-align:      right;
}

.btn:hover {
  background:  $pink;
  color:       $dark-grey;
  font-weight: bold;
}

.btn-secondary:active {
  color:       rgb(31, 17, 17);
  font-weight: bold;
  background:  $tertiary;
}

/* === === Index Page === === */
.index {
  margin-bottom: 100px;
}