
.flex-box.col.center
  h1 Say Hello To #{@cat.name}
  br
  .multi-card
    .flex-box.center.col.gap-m.full-width.apart
      .flex-box.center.gap-m.full-width
        - if @cat.cat_images.any?
          - @cat.cat_images.each_with_index do |cat_image, index|
            - if cat_image.image.present?
              img alt="Cat Profile Picture" src=cat_image.image.url(:thumb_medium) data-index=index class="thumbnail"
        - else
          img.cardImage alt="No Image Available" src="#{asset_path('no-image-available.png')}"

      .description
        h1.card-title = @cat.name
        .subtitle
          = "#{@cat.age} Years Old"
          br
          | Enjoys:
          = @cat.enjoys

  .catButtons
    = link_to edit_cat_path(@cat), class: 'btnSep but arrow' do
      .div style="padding-right: 50px"
        i.fas.fa-pen-to-square<>
        | Edit #{@cat.name}

    button.delete-button.btnSep.but.arrow onclick="openDeleteModal()"
      .div style="padding-right: 50px"
        | Delete

  #modal.overlay onclick="closeModal()"
    .modal-content onclick="event.stopPropagation()"
      .carousel
        - @cat.cat_images.each_with_index do |cat_image, index|
          -if cat_image.image.present?
            .carousel-slide data-index=index
              img src=cat_image.image.url class="carousel-image"

      .carousel-controls
        button.carousel-prev
          | Previous
        button.carousel-next
          | Next
        button.close-button type="button"
          | Close

  #delete-modal.overlay onclick="closeDeleteModal()"
    .modal-content onclick="event.stopPropagation()"
      h2 Are you sure you want to delete #{@cat.name}'s profile?
      .modal-controls
        button.cancel-button.btnSep.but.arrow type="button" onclick="closeDeleteModal()"
          | Cancel
          .div style="padding-right: 30px"

        / = link_to 'Confirm', delete_cat_path(@cat), method: :delete, class: 'confirm-button'
        = link_to delete_cat_path(@cat), class: 'btnSep but arrow' do
          .div style="padding-right: 30px"
            i.fas.fa-trash-alt<>
            | Delete

javascript:
  $(document).ready(function () {
      let currentSlide = 0;
      const slides = $('.carousel-slide');

      function openModal(index) {
          $('#modal').addClass('visible');
          currentSlide = index;
          showSlide();
      }

      function closeModal() {
          $('#modal').removeClass('visible');
      }

      function showSlide() {
          slides.each((index, slide) => {
              $(slide).css('display', index === currentSlide ? 'block' : 'none');
          });
      }

      function prevSlide() {
          currentSlide = (currentSlide - 1 + slides.length) % slides.length;
          showSlide();
      }

      function nextSlide() {
          currentSlide = (currentSlide + 1) % slides.length;
          showSlide();
      }

      function openDeleteModal() {
          $('#delete-modal').addClass('visible');
      }

      function closeDeleteModal() {
          $('#delete-modal').removeClass('visible');
      }

      // Attach event handlers using jQuery
      $('.thumbnail').each((index, thumbnail) => {
          $(thumbnail).on('click', () => openModal(index));
      });

      $('.delete-button').on('click', openDeleteModal);
      $('#modal .carousel-prev').on('click', function (event) {
          prevSlide();
          event.stopPropagation();
      });
      $('#modal .carousel-next').on('click', function (event) {
          nextSlide();
          event.stopPropagation();
      });
      $('#modal .close-button').on('click', function (event) {
          closeModal();
          event.stopPropagation();
      });
      $('#modal.overlay').on('click', closeModal);
      $('#delete-modal.overlay').on('click', closeDeleteModal);
      $('#delete-modal .cancel-button').on('click', closeDeleteModal);
  });


style
  |
    .thumbnail {
      cursor: pointer;
      border-radius: 8px;
      box-shadow: $box-shadow;
      transition: transform 0.3s ease-in-out;
    }
    .thumbnail:hover {
      transform: scale(1.1);

    }
    .multi-card {
      box-shadow:       4px 8px 17px black;
      border-radius:    10px;
      display:          flex;
      padding:          5px;
      background-color: rgb(198, 109, 109);
      border:           2px solid rgb(155, 99, 99);
      margin-bottom:    20px;
      justify-content:  center;
    }
    .description{
      width: 100%
    }
    .overlay {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.8);
    }

    .overlay.visible {
      display: block;
    }

    .modal-content {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: white;
      padding: 20px;
      border-radius: 8px;
      max-height: 80vh;
    }
    .modal-content>img {
     max-height: 80vh;
    }


    .carousel-slide {
      display: none;
    }

    .carousel-slide img {
      max-height: 60vh;
      width: auto;  // This will maintain the aspect ratio of the image
      height: auto;
    }
    button {
      background-color: #008CBA; /* Blue */
      border: none;
      color: white;
      padding: 12px 24px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 4px;
    }

    button:hover {
      background-color: #004C73; /* Darker blue */
    }

    .carousel-controls {
      display: flex;
      justify-content: space-between;
    }
    .modal-controls {
      display: flex;
      justify-content: space-around;
      margin-top: 20px;
    }