.flex-box.col.center
  h1 Say Hello To #{@cat.name}
  br
  .multi-card style="width: 35%"
    .flex-box.center.col.gap-m.full-width.apart
      .flex-box.center.gap-m.full-width.wrap style="max-height: 350px; overflow: scroll;"
        - if @cat.cat_images.any?
          - @cat.cat_images.each_with_index do |cat_image, index|
            - if cat_image.image.present?
              img alt="Cat Profile Picture" src=cat_image.image.url(:thumb_medium) data-index=index class="thumbnail"
        - else
          img.cardImage alt="No Image Available" src="#{asset_path('no-image-available.png')}"

      .description
        h1.card-title = @cat.name
        .subtitle
          = "#{@cat.age} Years Old"
          br
          | Enjoys:
          = @cat.enjoys

  .catButtons
    = link_to edit_cat_path(@cat), class: 'btnSep but arrow' do
      .div style="padding-right: 50px"
        i.fas.fa-pen-to-square<>
        | Edit #{@cat.name}

    button.delete-button.btnSep.but.arrow
      .div style="padding-right: 50px"
        | Delete

  #modal.modal.fade tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true"
      .modal-dialog.modal-lg role="document"
        .modal-content
          .modal-header
            h5#modalLabel.modal-title Say Hello To #{@cat.name}
            button.close type="button" data-dismiss="modal" aria-label="Close"
              spani.fa-solid.fa-circle-xmark aria-hidden="true"
          .modal-body.carousel
            .carousel-inner
              - @cat.cat_images.each_with_index do |cat_image, index|
                - if cat_image.image.present?
                  .carousel-item class="#{'active' if index == 0}" data-index=index
                    = image_tag cat_image.image.url, class: "carousel-image img-fluid"

          .modal-footer.carousel-controls
                button.btn.btn-primary.carousel-prev type="button"
                  | Previous
                button.btn.btn-secondary.carousel-next type="button"
                  | Next

  #delete-modal.modal.fade tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true"
    .modal-dialog role="document"
      .modal-content
        .modal-header
          h5#deleteModalLabel.modal-title Delete Confirmation
          button.close type="button" data-dismiss="modal" aria-label="Close"
            span aria-hidden="true" &times;
        .modal-body
          h2 Are you sure you want to delete #{@cat.name}'s profile?
        .modal-footer
          button.cancel-button.btn.btn-secondary type="button" data-dismiss="modal"
            | Cancel
          = link_to delete_cat_path(@cat), class: 'btn btn-danger' do
            i.fas.fa-trash-alt<>
            | Delete

javascript:
    $(document).ready(function () {
        $('.delete-button').on('click', function (event) {
            $('#delete-modal').modal('show');

        });
        function showSlide(index) {
            $('.carousel-item').removeClass('active');
            $($('.carousel-item')[index]).addClass('active');
        }

        $('.thumbnail').each((index, thumbnail) => {
            $(thumbnail).on('click', function () {
                $('#modal').modal('show');
                showSlide(index);
            });
        });

        $('#modal .carousel-prev').on('click', function (event) {
            const currentSlide = $('.carousel-item.active').data('index');
            const newIndex = (currentSlide - 1 + $('.carousel-item').length) % $('.carousel-item').length;
            showSlide(newIndex);
            event.stopPropagation();
        });

        $('#modal .carousel-next').on('click', function (event) {
            const currentSlide = $('.carousel-item.active').data('index');
            const newIndex = (currentSlide + 1) % $('.carousel-item').length;
            showSlide(newIndex);
            event.stopPropagation();
        });
    });


style
  |
    .thumbnail {
      cursor: pointer;
      border-radius: 8px;
      box-shadow: $box-shadow;
      transition: transform 0.3s ease-in-out;
    }

    .thumbnail:hover {
      transform: scale(1.1);
    }

    .multi-card {
      box-shadow: 4px 8px 17px black;
      border-radius: 10px;
      padding: 5px;
      background-color: rgb(198, 109, 109);
      border: 2px solid rgb(155, 99, 99);
      margin-bottom: 20px;
    }

    .description {
      width: 100%;
    }

    #modal .modal-content {
      max-height: 80vh;
      min-height: 580px;
      overflow: auto;
    }

    .carousel-item.active > img {
      max-height: 55vh;
      min-height: 450px;
      border-radius: 8px;
      width: auto;
      height: auto;
      display: block;
      margin-left: auto;
      margin-right: auto;
      border: 10px #d26377 solid;
    }

    button {
      border: none;
      color: white;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      cursor: pointer;
      border-radius: 4px;
      margin: 4px 2px;
    }

    button.close {
    background-color: #55000f;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    margin: 4px 2px

    }

    button:hover {
      background-color: #d26377;
    }

